<div class="container">
  <%= link_to "Back to Authors", authors_path	%>

  <h1>Books by <%= @author.name %> </h1>

  <div class="option mb-3">
    <%= link_to "Add book", new_author_book_path(@author), class: "btn btn-primary" %>
    <%= link_to "Edit author", edit_author_path(@author), class: "btn btn-secondary" %>
    <%= button_to "Delete author", @author, method: :delete, class: "btn btn-danger" %>
  </div>

  <div id="books">
    <% @author.books.each do |book| %>
      <%= render book %>
    <% end %>
  </div>
</div>

